@import url("components/card.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/banner.css");
 
 
 
body {
                background-color:#EED6C4;
                font-family: sans-serif;
}
 
h1,h2,h3 {
                font-family: serif;
                font-weight: lighter;
                font-size: 20px;
                text-align: center;
} 
 
a {
                text-decoration: none;
}
 
p {
 
font-family: serif;
text-align: center;
 
 
} 